/* .itemListContainer {display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
} */

.logueadoTodo{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;

}

.navBarTodo{
    /* background-color: aqua; */
    grid-column:1/5;
    grid-row: 1;
}

.contenidoTodo{
    /* background-color: rgb(255, 0, 153); */
    grid-column:2/4;
    grid-row: 2;
}