.tarjeta{
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto;
}

.tarjetaNombre{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1;
}

.tarjetaDescripcion{
    grid-column: 1/3;
    grid-row: 3;
}

.tarjetaVer{
    grid-column: 1/3;
    grid-row: 4;
}

img {
    width: 500px;
    height: 400px;
    grid-column: 2/3;
    grid-row: 2;

}