@font-face {
    font-family: Jade;
    src: url(/fonts/CenturyGothicPaneuropeanRegular.ttf);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    margin: 10px;
    color: black;
}

a:hover {
    color: rgb(196, 33, 221);
}

.todoNavBar {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;

}

.navBar {
    display: flex;
    justify-content: space-between;
    grid-column: 1/6;
    grid-row: 1;
    gap: 20px;
    margin-top: 40px;
}

.carritoNav {
    grid-column: 6;
    grid-row: 2;
}

.usuarioNav {
    margin-top: 2vh;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    grid-row: 2;
    grid-column: 1;
    font-size: small;
}

.brand {
    grid-column: 1/7;
    grid-row: 3;
    font-family: Jade;
    font-size: xx-large;
}
