:root {
  font-family: Jade;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: fit-content; */
  background-size: contain;
  background: url(/img/fondowrap.jpg);
  backdrop-filter: blur(200px);
  min-height: 100vh;
  grid-column: 1/5;
}

html {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
}


button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}

/* burbujas */

.burbuja {
  border-radius: 50%;
  background: url(/img/logojadenails.jpg);
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  bottom: -150;
  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 10s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 6s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 15s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 10s;
  animation-delay: 1s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 12s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 8s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 8s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 10s;
  animation-delay: 2s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 10s;
  animation-delay: 4s;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.bg_animate {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  background: linear-gradient(to right, #ffffff, #ffffff);
  position: relative;
  overflow: hidden;
  padding-left: 5vh;
  padding-right: 5vh;
  margin: 10vh;
}

.pix{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}